body{
	background-color: #f2f3f3;
}
.navbar {
    overflow: hidden;
	top: 0; /* Position the navbar at the top of the page */
	position: relative;
	width: 100%; /* Full width */
	margin: 0px;
	padding: 0px;
	border: 0px;
}


nav .navbar-brand
{
    /* size for brand */
	font: size 36px;
	font-weight: bolder;
	font-style: italic;
	font-family: Georgia, 'Times New Roman', Times, serif
}

/* colors for brand */
 .blue
{
    color: #537fbe;
}
 .white
{
    color: white;
}
 .red
{
    color: #ea433b;
}
 .yellow
{
    color: #f5b82e;
}
.green
{
    color: #2e944b;
}

#main{
	margin: 10px;
}


.tab-group {
	list-style: none;
    padding: 0;
    margin: 1%;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group div a {
  text-decoration: none;
  padding: 5px;
  color: #212121;
  font-size: 15px;
  margin-right:0px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
.tab-group .active a {
  color: #212121;
}
.tab-content > div:last-child{
  display: none;
}
#login-tab-content > div:nth-last-child(2){
    display: none;
}
  
.cl-effect-4 div a {
	position:relative;
}
.cl-effect-4 div a::after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 1px;
	background:blue;
	content: '';
	opacity: 0;
}
.cl-effect-4 div.active a::after, .cl-effect-4 div a:hover::after, .cl-effect-4 div a:focus::after {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}
/*-- Sign In Form --*/
p.header {
    font-size: 16px;
    font-weight: 500;
    color: #212121;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.form-w3ls {
	background:#ffffff;
	text-align: center;
	padding-bottom: 20px;
	width:100%;
	margin-top: 10px;
    margin-bottom: 10px;
}

input[type="text"],input[type="email"], input[type="password"], input[type="number"], input[type="password"],select {
    width: 85%;
    border-bottom: 2px solid #537fbe;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #212121;
    text-align: left;
    outline: none;
    letter-spacing: 1px;
    font-size: 16px;
    margin-top: 5em;
    margin-bottom: 2em;
    font-weight: 600;
    font-family: 'Poiret One', cursive;
    background: none;
}
input[type="text"]:focus,input[type="email"]:focus, input[type="password"]:focus,  input[type="number"]:focus, input[type="password"]:focus{
	background-color:#e5f3d1;
	border-color:#537fbe;
}




.sign-in {
	font-size: 20px;
	font-weight: 600;
	text-transform: uppercase;
	width: 80%;
	cursor: pointer;
	letter-spacing: 1px;
	padding: 10px;
	margin-top: 30px;
	border: none;
	outline: none;
	color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
	border-radius: 25px;
	font-family: 'Sansita', sans-serif;
	transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
}
 .sign-in:hover {
	color: #fff;
    background-color: #286090;
    border-color: #204d74;
	font-family: 'Sansita', sans-serif;
}


.form-w3ls{
	width: 100%;
}

.class_details{
    text-align: left
}

#class_veiw{
    float: right;
}

.single_form{
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 15%;
}

.other_forms{
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

#school_name{
    text-align: center;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
    color: green;
  }
  
  .valid:before {
    position: relative;
    left: -15px;
    content: "✔";
  }
  
  /* Add a red text color and an "x" when the requirements are wrong */
  .invalid {
    color: red;
  }
  
  .invalid:before {
    position: relative;
    left: -15px;
    content: "✖";
  }

  @media (max-width: 700px) {
    .main_pages{
        display: inline
    }
}

.delete{
    background-color: #ea433b;
}

div > form > h4{
    margin-top: 40px;
}
