body{
	background-color: #f2f3f3;
}
.navbar {
    overflow: hidden;
	top: 0; /* Position the navbar at the top of the page */
	position: relative;
	width: 100%; /* Full width */
	margin: 0px;
	padding: 0px;
	border: 0px;
}


nav .navbar-brand
{
    /* size for brand */
	font-size:35px;
	font-weight: bolder;
	font-style: italic;
	font-family: Georgia, 'Times New Roman', Times, serif
}

/* colors for brand */
 .blue
{
    color: #537fbe;
}
 .white
{
    color: white;
}
 .red
{
    color: #ea433b;
}
 .yellow
{
    color: #f5b82e;
}
.green
{
    color: #2e944b;
}

#main{
	margin-left: 30px;
	margin-right: 20px;
}

.form-head-w3l h2{
	text-align: center;
    font-size: 40px;
    width: 60px;
    height: 60px;
    line-height: 40px;
    border-radius: 50%;
    border: 2px solid #3e3939;
    margin: 0 auto;
    background: #a0da4f;
    text-shadow: 2px 2px 3px;
    font-weight: 600;
	color:#3e3939;
}

.tab-group {
	list-style: none;
    padding: 0;
    margin: 0 0 30px 155px;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  color: #212121;
  font-size: 20px;
  margin-right:25px;
  float: left;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
.tab-group li a:hover {
  color: #212121;
}
.tab-group .active a {
  color: #212121;
}
.tab-content > div:last-child {
  display: none;
}
.cl-effect-4 li a {
	position:relative;
}
.cl-effect-4 li a::after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 1px;
	background:#a0da4f;
	content: '';
	opacity: 0;
	-webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
	transition: height 0.3s, opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}
.cl-effect-4 li.active a::after, .cl-effect-4 li a:hover::after, .cl-effect-4 li a:focus::after {
    height: 2px;
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}
/*-- Sign In Form --*/
p.header {
    font-size: 16px;
    font-weight: 500;
    color: #212121;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.form-w3ls {
	background:#ffffff;
	text-align: center;
	padding-bottom: 20px;
	width:90%;
	margin-top: 10px;
	margin-bottom: 10px;
}

input[type="text"],input[type="email"], input[type="password"], input[type="number"], input[type="password"],select {
	padding: 10px;
    width: 80%;
    border-bottom: 2px solid #a0da4f;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #212121;
    text-align: left;
    outline: none;
    letter-spacing: 1px;
    font-size: 16px;
    margin-top: 5em;
    margin-bottom: 2em;
    font-weight: 600;
    font-family: 'Poiret One', cursive;
    background: none;
}
input[type="text"]:focus,input[type="email"]:focus, input[type="password"]:focus,  input[type="number"]:focus, input[type="password"]:focus{
	background-color:#e5f3d1;
	border-color:#a0da4f;
}



.sign-in {
	font-size: 20px;
	font-weight: 600;
	text-transform: uppercase;
	width: 80%;
	cursor: pointer;
	letter-spacing: 1px;
	padding: 10px;
	margin-top: 30px;
	border: none;
	outline: none;
	color: #212121;
	background-color: #a0da4f;
	border-radius: 25px;
	font-family: 'Sansita', sans-serif;
	transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
}
 .sign-in:hover {
	background-color: #84bf31;
	font-family: 'Sansita', sans-serif;

	color: #000000;
}

#log{
	margin: 40px;
}
.class_details{
	text-align: left;
	margin: 10px;
}

#space{
	margin-top: 10px;
}
