{% extends "layout.html" %}

{% block title %}
verify admin
{% endblock %}
{% block main %}
<form action="/password_changer" method="POST">
    <div class="form-w3ls"><input type="password" placeholder="change general password" name="general"></div>
    <table class="table table-striped">
    <thead>
        <th>class</th>
        <th>change password</th>
    </thead>
    <tbody>
            {%for class in classData%}
            <tr>
                <td>{{class["classname"]}}</td>
                <td class="form-w3ls"><input type="password" pattern=".{8,}" placeholder="change password" name="{{class["id"]}}"> </td>
            </tr>
            {%endfor%}
    </tbody>
</table>
<div class="row">
<div class="col"><button type="submit" class="sign-in">change</button></div>
</form>
<div class="col"> <form method="POST" action="/cancel_portfolio"><button class="sign-in" id="cancel" type="submit" value="submit">Cancel</button></form></div>
</div>
{% endblock %}
