{% extends "layout.html" %}

{% block title %}
change password
{% endblock %}

{% block main %}
<div class="single_form">
    <div class="form-w3ls">

    <form id = "email_check" action="/change_password" method="post">
            <input id= "email_name"  name="email" placeholder="email" type="email" required="required"/>
            <div id="email_mess" class="red"></div>
        <div class="row">
        <div class="col"><button id="email_submit" class="sign-in" type="submit" value="create" >Submit</button></form></div>
        <div class="col"><form action="/"><button class="sign-in">Cancel</button></form></div>
        </div>
</div>
</div>
<!-- js files -->
	<script src="/static/js/email.js"></script>
<!-- /js files -->

{% endblock %}
