{% extends "layout.html" %}

{% block title %}
{{classData[0]["classname"]}}
{% endblock %}

{% block main %}
<h4 class="blue">CLASS: {{classData[0]["classname"].upper()}} </h4>
 <table id="classview" class = "table table-striped">
    <tr>
      <td>EXAM NO</td>
      <td colspan="2">Classlist</td>
      {% set class_id = classData[0]["id"]|string %}
      {%if class_id|length == 1%}
      {%set class_identifier = "0"+class_id|string%}
      {%else%}
      {%set class_identifier = class_id|string%}
      {%endif%}

  </tr>

  <tbody>

      {%for data in class_list%}
      {% set student_id = data["id"]|string %}
      {% set button_id = student_id+"_"+class_id %}
      {%if student_id|length == 1%}
      {%set student_identifier = "00"+student_id|string%}
      {%elif student_id|length == 2%}
      {%set student_identifier = "0"+student_id|string%}
      {%else%}
      {%set student_identifier = student_id|string%}
      {%endif%}
      {%set final_identifier = student_identifier+class_identifier+schoolInfo[0]["id"]|string%}



    <tr>
      <td>{{final_identifier}}</td>
      <td>{{data["surname"]}} {{data["firstname"]}} {{data["othername"]}}<a href="/verify_edit_student?student_id={{student_id}}&&class_id={{class_id}}"> edit</a></td>
      <td><form method="post" action="/result_sheet" target="_blank"><button name="result_sheet" class="btn btn-primary" value = "{{button_id}}" target="_blank">VEIW RESULT</button>
</form></td>
    </tr>
    {% endfor %}  
  </tbody>
  </table>
<div class = " form-w3ls row">
    <div class="col">

    <form action ="/verify_add_student" method = "post">
      <input name="class_id" type="hidden" value = "{{classData[0]["id"]}}"/>
        <button  type="submit" class="sign-in"  >add student</button>
  </form>
</div>
<div class="col">
      <form action ="/verify_customize" method = "post">
        <input name="class_id" type="hidden" value = "{{classData[0]["id"]}}"/>
        <button  type="submit" class="sign-in">customize result</button>
  </form>
</div>

  </div>


   <table id="classview" class = "table table-striped">
     <thead>
       <th>No</th>
        <th>Subject List</th>
        <th>Subject Average</th>
        <th></th>
     </thead>
     <tbody>

     {% for subject in subjectData%}
     {% set subject_id = subject["id"]|string %}
     {% set scoresheet_id = subject_id+"_"+class_id %}
     <tr>
     <td>{{loop.index}}</td>

     <td>{{subject["name"].upper()}} <a href="/verify_edit_scoresheet?subject_id={{subject["id"]}}&&class_id={{class_id}}"> edit</a></td>
     <td>{{ "%.2f"|format(subject["class_average"]|float) }}</td>
     <td><form action="/scoresheet" method="post" target="_blank"><button class="btn btn-primary" name="scoresheet" value="{{scoresheet_id}}">VEIW </button></form></td>
     </tr>
     {% endfor %}
     </tbody>
     </table>

     <div class=" form-w3ls ">
      <form action ="/mastersheet" method = "post" target="_blank">
        <input name="class_id" type="hidden" value = "{{classData[0]["id"]}}"/>
        <button class="btn btn-primary" type="submit"> VEIW MASTERSHEET </button>
      </form>
    </div>
      </form>


{% endblock %}