{% extends "layout.html" %}

{% block title %}
    Upload Classlist
{% endblock %}

{% block main %}

     <h4 class="blue">Enter the names of students in {{class_name}}</h4>
<form action="/confirm_classlist"  id="class_created"  method="post">

{% for i in range(n)  %}
<div class="form-w3ls">       

        {% set id = i|string %}
        {% set surname = "s"+ id %}
        {% set firstname = "f"+ id%}
        {% set othername = "o"+ id%}
        {% set sex = "g"+ id%}
            <div>STUDENT {{loop.index}}.</div>
            <input    name="{{firstname}}" placeholder=" firstname" type="text" required/>
            <input   name="{{surname}}" placeholder="surname" type="text" required/>
            <input  name="{{othername}}" placeholder="othername" type="text"/>
             <div > <b>SELECT GENDER:</b> <label ><input  class = "col" type="radio" name="{{sex}}" value="Female" required> <b>Female</b> </label>
            <label ><input class = "col" type="radio" name="{{sex}}" value="Male" required> <b>Male</b></label></div>
           <input name="n" value="{{n}}" type="text" hidden/>
</div>
{% endfor %}
<div class="form-w3ls row">
 <div class="col"><button id="submit_classlist" class="sign-in" type="submit">Submit</button></form></div>
 
 <div class="col"><form action="/cancel_portfolio" method="POST"><button class="sign-in" id="password_button">CANCEL</button></div>
 </div>
<!-- js files -->
	<script src="/static/js/portfolio.js"></script>
<!-- /js files -->
{% endblock %}