{% extends "layout.html" %}

{% block title %}
{{classData[0]["classname"]}}
{% endblock %}

{% block main %}

 <table id="classview" class = "table table-striped">
    <tr>
      <td>NO</td>
      <td colspan="2"><h1><b>{{classData[0]["classname"].upper()}} Students</b></h1></td>
      {% set class_id = classData[0]["id"]|string %}

  </tr>

  <tbody>

      {%for data in mastersheet%}
      {% set student_id = data["id"]|string %}
      {% set button_id = student_id+"_"+class_id %}
    <tr>
      <td>{{loop.index}}</td>
      <td>{{class_list[loop.index-1]["surname"]}} {{class_list[loop.index-1]["firstname"]}} {{class_list[loop.index-1]["othername"]}}<a href="/verify_teacher?edit_student={{button_id}}"> edit</a></td>
      <td><form method="post" action="/result_sheet"><button name="result_sheet" class="btn btn-primary" value = "{{button_id}}">VEIW RESULT</button>
</form></td>
    </tr>
    {% endfor %}  
  </tbody>
  </table>
<div class = " form-w3ls row">
    <div class="col">

    <form action ="/verify_add_student" method = "post">
        <button  type="submit" class="sign-in" name = "add_student" value = "{{classData[0]["id"]}}">add student</button>
  </form>
</div>
<div class="col">
      <form action ="/" method = "post">
        <button  type="submit" class="sign-in" name = "customize_result" value = "{{classData[0]["id"]}}">customize result</button>
  </form>
</div>

  </div>


   <table id="classview" class = "table table-striped">
     <thead>
       <th>no</th>
        <th>subject</th>
        <th>average</th>
        <th></th>
     </thead>
     <tbody>

     {% for subject in subjectData%}
     {% set subject_id = subject["id"]|string %}
     {% set scoresheet_id = subject_id+"_"+class_id %}
     <tr>
     <td>{{loop.index}}</td>

     <td>{{subject["name"].upper()}}</td>
     <td>{{ "%.2f"|format(subject["class_average"]|float) }}</td>
     <td><form action="/scoresheet" method="post"><button class="btn btn-primary" name="scoresheet" value="{{scoresheet_id}}">VEIW </button></form></td>
     </tr>
     {% endfor %}
     </tbody>
     </table>
     <div class=" form-w3ls row">
       <div class="col">
         <form action="/" method="post"><button class="sign-in" name="scoresheet" value="{{scoresheet_id}}">MASTERSHEET </button>
         </form>
       </div>
         <div class="col">
         <form action="/" method="post"><button class="sign-in" name="scoresheet" value="{{scoresheet_id}}">VEIW </button>
         </form>
       </div>

     </div>

{% endblock %}