{% extends "layout.html" %}

{% block title %}
{{classData[0]["classname"]}}
{% endblock %}

{% block main %}
<h5 class="blue">Class: {{classData[0]["classname"].upper()}} </h5>
<h5 class="blue">Section: {{classData[0]["section"].upper()}} 
</h5><h5 class="blue">Class Teacher: {{classData[0]["firstname"].upper()}} {{classData[0]["surname"].upper()}}</h5>

 <table id="classview" class = "table table-striped">
    <tr>
      <th>Exam no</th>
      <th>Classlist</th>
      {% set class_id = classData[0]["id"]|string %}
      {%if class_id|length == 1%}
      {%set class_identifier = "00"+class_id|string%}
      {%elif class_id|length == 2%}
      {%set class_identifier = "0"+class_id|string%}
      {%else%}
      {%set class_identifier = class_id|string%}
      {%endif%}
      <th colspan="2">Result</th>

  </tr>

  <tbody>

      {%for data in class_list%}
      {% set student_id = data["id"]|string %}
      {% set button_id = student_id+"_"+class_id %}
      {%if student_id|length == 1%}
      {%set student_identifier = "00"+student_id|string%}
      {%elif student_id|length == 2%}
      {%set student_identifier = "0"+student_id|string%}
      {%else%}
      {%set student_identifier = student_id|string%}
      {%endif%}
      {%set final_identifier = student_identifier+class_identifier+schoolInfo[0]["id"]|string%}



    <tr>
      <td>{{final_identifier}}</td>
      <td>{{data["surname"]}} {{data["firstname"]}} {{data["othername"]}}<a href="/verify_edit_student?student_id={{student_id}}&&class_id={{class_id}}"> edit</a></td>
      <td colspan="2"><div><form method="post" action="/result_sheet" target="_blank"><button name="result_sheet" class="btn btn-primary" value = "{{button_id}}" target="_blank">VEIW</button>
      </form></div> 
<div id="veiw"><form method="post" action="/result_sheet_pdf" target="_blank"><button name="result_sheet" class="btn btn-primary" value = "{{button_id}}" target="_blank">PDF</button>
      </form></div></td>
    </tr>
    {% endfor %}  
  </tbody>
  </table>
<div class = " form-w3ls row">
    <div class="col">

    <form action ="/verify_add_student" method = "post">
      <input name="class_id" type="hidden" value = "{{classData[0]["id"]}}"/>
        <button  type="submit" class="sign-in"  >add student</button>
  </form>
</div>
<div class="col">
      <form action ="/verify_customize" method = "post">
        <input name="class_id" type="hidden" value = "{{classData[0]["id"]}}"/>
        <button  type="submit" class="sign-in">customize result</button>
  </form>
</div>

  </div>


   <table id="classview" class = "table table-striped">
     <thead>
       <th>No</th>
        <th>Scoresheets</th>
        <th>Veiw</th>
     </thead>
     <tbody>

     {% for subject in subjectData%}
     {% set subject_id = subject["id"]|string %}
     {% set scoresheet_id = subject_id+"_"+class_id %}
     <tr>
     <td>{{loop.index}}</td>
     <td>{{subject["name"].upper()}} <a href="/verify_edit_scoresheet?subject_id={{subject["id"]}}&&class_id={{class_id}}"> edit</a></td>
     <td><div id="veiw"><form action="/scoresheet" method="post" target="_blank"><button class="btn btn-primary" name="scoresheet" value="{{scoresheet_id}}">VEIW </button></form></div> <div id="veiw"><form action="/scoresheet_pdf" method="post" target="_blank"><button class="btn btn-primary" name="scoresheet" value="{{scoresheet_id}}">PDF </button></form></div></td>
    </tr>
     {% endfor %}
     </tbody>
     </table>

     <div class="row form-w3ls ">
        
                <div class="col" id="mas"><form action ="/mastersheet" method = "post" target="_blank">
                  <input name="class_id" type="hidden" value = "{{classData[0]["id"]}}"/>
                  <button class="btn btn-primary" type="submit">VEIW MASTERSHEET</button>
                </form></div>
               <div class="col"><form action ="/mastersheet_pdf" method = "post" target="_blank">
                     <input name="class_id" type="hidden" value = "{{classData[0]["id"]}}"/>
                     <button class="btn btn-primary" type="submit">MASTERSHEET IN PDF</button>
                   </form>   
                 </div>
     
     
    </div>


{% endblock %}