{% extends "layout.html" %}
{% block title %}
    confirm classlist
{% endblock %}
{% block main %}
<form action="/submitted" method="post">
 <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">NAME</th>
    <th scope="col">CA</th>
      <th scope="col">TEST</th>
    <th scope="col">EXAM</th>
    </tr>
  </thead>
  <tbody>
{% for student in students %}
        {% set id = student["id"]|string %}
        {% set cascore = "cascore"+ id %}
        {% set testscore = "testscore"+ id%}
        {% set examscore = "examscore"+ id%}
            <td><input  class="col classlist"  value="{{student[1]}} {{student[2]}}" type="text" required="required" disabled/></td>
            <td><input  class="col classlist"  value="{{student[3]}}" type="text" required="required" disabled/></td>
            <td><input  class="col classlist"  value="{{student[4]}}" type="text" required="required" disabled/></td>
            <td><input  class="col classlist"  value="{{student[5]}}" type="text" required="required" disabled/></td>
        </tr>
            <input  class="col classlist"  name="{{cascore}}" value="{{student[2]}}" type="hidden" required="required" />
            <input  class="col classlist"  name="{{testscore}}" value="{{student[3]}}" type="hidden" required="required" />
            <input  class="col classlist"  name="{{examscore}}" value="{{student[4]}}" type="hidden" required="required" />
{% endfor %}
</table>
<div class="form-w3ls">
      <button class="sign-in" name="button" type="submit" value="{{class_id}}">Confirm</button>

 </div>

 </form>
 <div class="form-w3ls">
     <form action="/submit_score" method="get">
 <button class="sign-in" name="cancel" type="submit" value="submit">Cancel</button>
 </form>
 </div>
{% endblock %}