{% extends "layout.html" %}
{% block title %}
    confirm student
{% endblock %}
{% block main %}
<form action="/student_added" method="post" id="confirm_student_form">
  <div id="details">
    <table class="table table-striped">
      <th>SURNAME</th>
      <th>FIRSTNAME</th>
      <th>OTHERNAME</th>
      <th>SEX</th>
      <th>CLASS</th>
      <tbody>
        <tr>
          <td>{{details["surname"].upper()}}</td>
          <td>{{details["firstname"].upper()}}</td>
          <td>{{details["othername"].upper()}}</td>
          <td>{{details["sex"].upper()}}</td>
          <td>{{details["class_name"].upper()}}</td>
        </tr>
      </tbody>
    </table>
</div>
 <table class="table table-striped">
  <thead>
    <tr>
      <th>SUBJECT</th>
      <th>CA</th>
      <th>TEST</th>
      <th>EXAM</th>
    </tr>
  </thead>
  <tbody>
    {%for subject in student_subjects %}
    {% set id = subject["id"]|string %}
    {% set ca = "cascore"+ id %}
    {% set test = "testscore"+ id %}
    {% set exam = "examscore"+ id %}
    <tr>
      <td>{{subject["name"].upper()}}</td>
      <td>{{subject["ca"]}}</td>
      <td>{{subject["test"]}}</td>
      <td>{{subject["exam"]}}</td>
    </tr>
    {%endfor%}
  </tbody>
</table>
<div class="row form-w3ls">
<div class="col">
      <button class="sign-in" name="button" type="submit" id="confirm_student_button">Confirm</button>
 </div>
 </form>
 <div class="col">
     <form action="/submit_score" method="get">
 <button class="sign-in" name="cancel" type="submit">Cancel</button>
 </form>
</div>
 </div>
 <!-- js files -->
 <script src='/static/js/jquery.min.js'></script>
 <script src="/static/js/veiwclass.js"></script>
<!-- /js files -->
{% endblock %}