{% extends "layout.html" %}

{% block title %}
    upload classlist
{% endblock %}

{% block main %}


<form action="/classCreated" id="classlist"  method="post">
  <h6 class="blue"> 
    <p>class: {{classinfo["className"]}}</p>
    <p>section: {{classinfo["section"].upper()}}</p>
    <p>class master: {{classinfo['firstname'].upper()}} {{classinfo['surname'].upper()}}</p>
  </h6>
 <table class="table table-striped">
  <thead>
    <tr>
    <th >NO</th>
      <th  colspan="3">STUDENT NAME</th>
      <th >GENDER</th>

    </tr>
  </thead>
  <tbody>
{% for student in students %}


         <tr>
            <td>{{loop.index}}.</td>
            <td colspan="3">{{student[0].upper()}} {{student[1].upper()}} {{student[2].upper()}}</td>
            <td>{{student[3]}}</td>
        </tr>

{% endfor %}
</table>
<div class="row">
<div class="col">
<button class="sign-in"  id="btnsubmiting" type="submit">Confirm</button></form>
 </div>
 
 
 <div class="col">
     <form action="/createClass" method="get">
 <button class="sign-in" name="submit" type="submit"  value="submit">Cancel</button>
 </form>
 </div>
</div>
  <!-- js files -->
  <script src='/static/js/jquery.min.js'></script>
  <script src="/static/js/submit_classlist.js"></script>
 <!-- /js files -->


{% endblock %}
