{% extends "layout.html" %}
{% block title %}
    confirm classlist
{% endblock %}
{% block main %}
<form action="/submitted" method="post">
 <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">NO</th>
      <th scope="col">NAME</th>
    <th scope="col">CA</th>
      <th scope="col">TEST</th>
    <th scope="col">EXAM</th>
      <th scope="col">TOTAL</th>

    </tr>
  </thead>
  <tbody>
{% for student in students %}
    <tr>
        {% set total = student[4]|int + student[5]|int + student[3]|int %}
        {% set id = student["id"]|string %}
        {% set id = student["id"]|string %}
            <td>{{loop.index}}.</td>
            <td>{{student[2]}} {{student[1]}}</td>
            <td>{{student[3]}}</td>
            <td>{{student[4]}}</td>
            <td>{{student[5]}}</td>
            <td>{{total}}</td>
    </tr>
{% endfor %}
      </tbody>

</table>
<div class="form-w3ls">
      <button class="sign-in" name="button" type="submit" value="{{class_id}}">Confirm</button>

 </div>

 </form>
 <div class="form-w3ls">
     <form action="/submit_score" method="get">
 <button class="sign-in" name="cancel" type="submit" value="submit">Cancel</button>
 </form>
 </div>
{% endblock %}