{% extends "layout.html" %}

{% block title %}
    upload classlist
{% endblock %}

{% block main %}


<form action="/classCreated" method="post">
 <table class="table table-striped">
  <thead>
    <tr>
    <th scope="col">NO</th>
      <th scope="col">fIRSTNAME</th>
    <th scope="col">SURNAME</th>
      <th scope="col">OTHERNAME</th>
      <th scope="col">GENDER</th>

    </tr>
  </thead>
  <tbody>
{% for student in students %}


         <tr>
            <td>{{loop.index}}.</td>
            <td>{{student[0]}}</td>
            <td>{{student[1]}}</td>
            <td>{{student[2]}} </td>
            <td>{{student[3]}}</td>
        </tr>

{% endfor %}
</table>

<div class="form-w3ls">
 <button class="sign-in" name="submit" type="submit" value="submit">Confirm</button>
 </div>
 
 </form>
 
 <div class="form-w3ls">
     <form action="/createClass" method="get">
 <button class="sign-in" name="submit" type="submit" value="submit">Cancel</button>
 </form>
 </div>

{% endblock %}
