{% extends "layout.html" %}

{% block title %}
create a class
{% endblock %}

{% block main %}
    <div class="other_forms">
    <div class="form-w3ls">

    <form id="create_form" action="/createClass" method="post">
        <div class="row">
        <div class="col">
            <input  id="class_name"  name="class_name" placeholder="class name" type="text" required="required"/>
        </div>
    <div class="col">
        <select name="section" id="section"  aria-required="true">
        <option  value="" selected="" disabled="">section</option>
                <option  value="pre-nursery">pre-nursery</option>
                <option  value="nursery">nursery</option>
                <option  value="primary">primary</option>
                <option  value="secondary">secondary</option>
        </select>
        <div class="arrow"></div>
     </div>
     </div>
          <div class="row">
           <div class="col"><input  name="ca" placeholder="ca is over?" id="ca" type="number" required="required"/></div>
           <div class="col"> <input  name="test" placeholder="test over?" id="test" type="number" required="required"/></div>
           <div class="col"><input  name="exam" placeholder="exam over?" id="exam" type="number" required="required"/></div>
          </div>

            <input  id="no_of_students"  name="no_of_students" placeholder="The number of students in class" type="number" required="required"/>
         <div class="row">
           <div class="col"><input   name="firstname" placeholder=" firstname" type="text" required="required"/></div>
            <div class="col"><input   name="surname" placeholder="surname" type="text" required="required"/></div>
           <div class="col"><input  name="othernames" placeholder="othername" type="text" required="required"/></div>
         </div>
            <input  id="password"  name="password" placeholder="choose Password for class" type="password" required="required"/>
            <input  id="confirmation"  name="confirmation" placeholder="confirm password" type="password" required="required"/>
<div class="row">
      <div class="col"> <button  id="create_button" class="sign-in" type="submit" value="create" >create</button></div> 
    </form>
    <div class="col"><form action="/cancel_portfolio" method="POST"><button class="sign-in" id="password_button">CANCEL</button></div>
    </form>
 </div>
</div>
</div>
<!-- js files -->
	<script src="/static/js/portfolio.js"></script>
<!-- /js files -->

{% endblock %}
