{% extends "layout.html" %}
{% block title %}
{{classData[0]["classname"]}}
{% endblock %}
{% block main %}
<form method="POST" action="/customize_school">
<input type="hidden" value="{{class_setting["id"]}}" name="class_id"/>
<table class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th>setting</th>
            <th>value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td rowspan="2">SET SESSION/TERM</td>
            <td>SESSION</td>
            <td>
                    <select name="session"   aria-required="true">
                            <option   selected="" disabled="">{{schoolInfo[0]["current_session"]}}</option>
                            <option  value="2018/2019">2018/2019</option>
                            <option  value="2019/2020">2019/2020</option>
                            <option  value="2020/2021">2020/2021</option>
                            <option  value="2021/2022">2021/2022</option>
                            </select>
                            <div class="arrow"></div>
            </td>
        </tr>
        <tr>
            <td>TERM</td>
            <td>
                    <select name="term"   aria-required="true">
                            <option   selected="" disabled="">{{schoolInfo[0]["current_term"]}}</option>
                            <option  value="1">first</option>
                            <option  value="2">second</option>
                            <option  value="3">third</option>
                            </select>
                            <div class="arrow"></div>
            </td>
</tr>
<tr>
    <td>email notification</td>
    <td></td>
    <td>radio buttion</td>
</tr>
<tr>
    <td>school batch</td>
    <td></td>
    <td>upload</td>
</tr>
<tr>
    <td>student result check</td>
    <td></td>
    <td>make available or not?</td>
</tr>
    </tbody>
</table>
<div class="row">
<div class="form-w3ls col">
        <button class="sign-in"  type="submit">Submit</button>
</div>
</form>
<div class="form-w3ls col">
<form action="/cancel_portfolio" method="POST"> <button class="sign-in"  type="submit">Back</button></form>
</div>
</form>
</div>
{% endblock %}
