{% extends "layout.html" %}
{% block title %}
{{classData[0]["classname"]}}
{% endblock %}
{% block main %}
<form method="POST" action="/customize" id="class_customize_form" >
<input type="hidden" value="{{class_setting["id"]}}" name="class_id"/>
<table class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th>Setting</th>
            <th>value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <td>Grading type</td>
        <td></td>

        <td>
                <select name="grading_type"  aria-required="true">
                    <option selected="selected" disabled="">{{class_setting["grading_type"]}}</option>
                    <option>WAEC</option> 
                    <option>SUBEB</option>
                    </select>
                    <div class="arrow"></div>
        </td>
    </tr>

<tr>
    <td>what ca, test and exam is marked over </td>
    <td colspan="2">
            <div class="row">
                    <div class="col"> <input name="ca" value="{{classData[0]["ca"]}}"  id="ca" type="number" required="required"/> 
                     <div class="red" id="ca_message"></div>
                   </div>
                    <div class="col"><input value="{{classData[0]["test"]}}"  name="test"  id="test" type="number" required="required"/> <div class="red" id="test_message"></div>
                   </div> 
                    <div class="col"><input  name="exam" value="{{classData[0]["exam"]}}"  id="exam" type="number" required="required"/><div class="red" id="exam_message"></div>
                   </div> 
            </div>
    </td>
</tr>
<tr>
    <td rowspan="11">Result Table</td>
    <td>Table type</td>
    <td>
        <select  name="table_type" >
            <option selected="selected" disabled="">{{class_setting["table_type"]}}</option>
            <option>normal</option> 
            <option>striped</option>
            <option>borderless</option>
           <option> hover</option>
            <option>responsive</option>
</td>

</tr>

        <tr>
            <td>
                Cascore
            </td>
            <td>
                {%if class_setting["ca"]== 'on'%}
                <input type="checkbox" name="ca" id="ca" value="on" checked>
                {%else%}
                <input type="checkbox" name="ca" id="ca">
                {%endif%}
            </td>
        </tr>
        <tr>
            <td>Testscore</td>
            {%if class_setting["test"]== 'on'%}

            <td><input type="checkbox" name="test" id="test" value="on" checked></td>
            {%else%}
            <td><input type="checkbox" name="test" id="test"></td>
            {%endif%}

        </tr>
        <tr>
            <td>
                Combined test and ca as total ca
            </td>
            <td>
                {%if class_setting["combined"]== 'on'%}

                <input type="checkbox" name="combined" id="subject_comment" value="on" checked >
                {%else%}

                <input type="checkbox" name="combined" id="subject_comment">
                {%endif%}

            </td>
        </tr>

        <tr>
            <td>Examscore</td>
            {%if class_setting["exam"]== 'on'%}
            <td><input type="checkbox" name="exam" id="exam"  checked></td>
            {%else%}
            <td><input type="checkbox" name="exam" id="exam"></td>
            {%endif%}

        </tr>
        <tr>
            <td>Subject_total</td>
            {%if class_setting["subject_total"]== 'on'%}

            <td><input type="checkbox" name="subject_total" id="subject_total" checked></td>
            {%else%}

            <td><input type="checkbox" name="subject_total" id="subject_total"></td>
            {%endif%}

        </tr>

        <tr>
            <td>Class average for each subject</td>
            {%if class_setting["class_average"]== 'on'%}
            <td><input type="checkbox" name="class_average"  checked></td>
            {%else%}
            <td><input type="checkbox" name="class_average"></td>
            {%endif%}

        </tr>
        <tr>
            <td>Subject position</td>
            {%if class_setting["subject_position"]== 'on' %}
            <td><input type="checkbox" name="subject_position"  checked></td>
            {%else%}
            <td><input type="checkbox" name="subject_position"></td>
            {%endif%}

        </tr>
        <tr>
            <td>Grade</td>
            {%if class_setting["grade"]== 'on' %}
            <td><input type="checkbox" name="grade"  checked ></td>
            {%else%}
            <td><input type="checkbox" name="grade"></td>
            {%endif%}

        </tr>
        <tr>
            <td>Subject comment</td>
            {%if class_setting["subject_comment"]== 'on' %}
            <td><input type="checkbox" name="subject_comment"  checked></td>
            {%else%}
            <td><input type="checkbox" name="subject_comment"></td>
            {%endif%}

        </tr>

        <tr>
            <td>Teachers initials</td>
            {%if class_setting["teachers_initials"]== 'on' %}
            <td><input type="checkbox" name="teachers_initials" id=""  checked></td>
            {%else%}
            <td><input type="checkbox" name="teachers_initials" id=""></td>
            {%endif%}

        </tr>
        <tr>
            <td rowspan="11">Result summary</td>
                <td>total score</td>
                {%if class_setting["total_score"]== 'on' %}
                <td><input type="checkbox" name="total_score" id=""  checked></td>
                {%else%}
                <td><input type="checkbox" name="total_score" id=""></td>
                {%endif%}

            </tr>
        <tr>
            <td>Average score</td>
            {%if class_setting["average"]== 'on' %}
            <td><input type="checkbox" name="average_score" id=""  checked></td>
            {%else%}
            <td><input type="checkbox" name="average_score" id=""></td>
            {%endif%}

        </tr>
        <tr>
            <td>Position</td>
            {%if class_setting["position"] == 'on' %}
            <td><input type="checkbox" name="position" id=""  checked ></td>
            {%else%}
            <td><input type="checkbox" name="position" id=""></td>
            {%endif%}

        </tr>

        <tr>
            
            <td>Number of comment line for teacher</td>
            <td>
                <select name="teachers_line"   aria-required="true">
                        <option   selected="">{{class_setting["teachers_line"]}}</option>
                          {%for i in range(5)%}
                                <option  value="{{i}}">{{i}}</option>
                           {%endfor%}
                        </select>
                        <div class="arrow"></div>
        </td>
        </tr>

        <tr>
            <td>Number of comment line for principal</td>
            <td>
                <select name="principal_line"   aria-required="true">
                        <option   selected="" >{{class_setting["principal_line"]}}</option>
                          {%for i in range(5)%}
                                <option  value="{{i}}">{{i}}</option>
                           {%endfor%}
                        </select>
                        <div class="arrow"></div>
        </td>

        </tr>
        <tr>
            <td>Teachers signature</td>
            {%if class_setting["teachers_signature"]== 'on'%}
            <td><input type="checkbox" name="teachers_signature" id=""  checked></td>
            {%else%}
            <td><input type="checkbox" name="teachers_signature" id="" ></td>
            {%endif%}

        </tr>
               
        <tr>
                <td>Principal signature</td>
                {%if class_setting["principal_signature"]== 'on'%}
                <td><input type="checkbox" name="principal_signature" id="" value="{{class_setting["principal_signature"]}}" checked></td>
                {%else%}
                <td><input type="checkbox" name="principal_signature" id="" ></td>
                {%endif%}

        </tr>
        <tr>
            <td>Number of subjects passed and those failed</td>
            {%if class_setting["pandf"]== 'on'%}
            <td><input type="checkbox" name="pandf" id="" value="{{class_setting["pandf"]}}" checked></td>
            {%else%}
            <td><input type="checkbox" name="pandf" id=""></td>
            {%endif%}

    </tr>
    <tr>
        <td>Grade summary</td>
        {%if class_setting["grade_summary"]== 'on'%}
        <td><input type="checkbox" name="grade_summary" id="" value="{{class_setting["grade_summary"]}}" checked></td>
        {%else%}
        <td><input type="checkbox" name="grade_summary" id=""  ></td>
        {%endif%}

</tr>
    </tbody>
</table>
<div class="row form-w3ls ">
<div class="col">
        <button class="sign-in" id="class_customize_button" type="submit">Submit</button></div>
</form>
<div class="col">
  <form action="/cancel" method="POST">  <input type="hidden" value="{{classData[0]["id"]}}" name="class_id"><button class="sign-in" id="cancel"  type="submit">Back</button></form>
</div>
</form>
</div>
    <!-- js files -->
	<script src='/static/js/jquery.min.js'></script>
	<script src="/static/js/veiwclass.js"></script>
    <!-- /js files -->
{% endblock %}
