{% extends "layout.html" %}
{% block title %}
{{classData[0]["classname"]}}
{% endblock %}
{% block main %}
<form method="POST" action="/customize">
<input type="hidden" value="{{class_setting["id"]}}" name="class_id"/>
<table class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th>setting</th>
            <th>value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <td>grading type</td>
        <td></td>

        <td>
                <select name="grading_type"  aria-required="true">
                    <option selected="selected" disabled="">{{class_setting["grading_type"]}}</option>
                    <option>WAEC</option> 
                    <option>SUBEB</option>
                    </select>
                    <div class="arrow"></div>
        </td>
    </tr>


            <tr>
                <td rowspan="4">Background</td>
                <td>background color</td>
                <td><input name="background_color" type="color" value="{{class_setting["background_color"]}}"></td>
            </tr>
            <tr>
                    <td>choose text color</td>
                    <td>
                        <input name="text_color" type="color" value="{{class_setting["text_color"]}}">
                    </td>
            </tr>
            <tr>
                    <td>line color</td>
                    <td>
                        <input name="line_color" type="color" value="{{class_setting["line_color"]}}">
                    </td>
            </tr>
            <tr>
                <td>
                    background font
                </td>
                <td>
                    <select  name="background_font" >
                            <option selected="selected" disabled="">{{class_setting["background_font"]}}</option>
                            <option>Arial</option> 
                            <option>Arial Black</option>
                            <option>Arial Narrow</option>
                            <option>Arial Rounded MT Bold</option>
                            <option>Avant Garde</option>
                           <option> Calibri</option>
                            <option>Candara</option>
                            <option>Century Gothic</option>
                            <option>Franklin Gothic Medium</option>
                            <option>Futura</option>
                            <option>Geneva</option>
                            <option>Gill Sans</option>
                            <option>Helvetica</option>
                            <option>Impact</option>
                            <option>Lucida Grande</option>
                            <option>Optima</option>
                            <option>Segoe UI</option>
                            <option>Tahoma</option>
                            <option>Trebuchet MS</option>
                            <option>Verdana</option>
                            <option>Big Caslon</option>
                            <option>Bodoni MT</option>
                            <option>Book Antiqua</option>
                            <option>Calisto MT</option>
                            <option>Cambria</option>
                            <option>Didot</option>
                            <option>Garamond</option>
                            <option>Georgia</option>
                            <option>Goudy Old Style</option>
                            <option>Hoefler Text</option>
                            <option>Lucida Bright</option>
                            <option>Palatino</option>
                            <option>Perpetua</option>
                            <option>Rockwell</option>
                            <option>Rockwell Extra Bold</option>
                            <option>Baskerville</option>
                            <option>Times New Roman</option>
                            <option>Consolas</option>
                            <option>Courier New</option>
                            <option>Lucida Console</option>
                            <option>Lucida Sans Typewriter</option>
                            <option>Monaco</option>
                            <option>Andale Mono</option>
                            <option>Fantasy</option>
                            <option>Copperplate</option>
                            <option>Papyrus</option>
                            <option>Brush Script MT</option>
                            
                </td>
            </tr>
            <tr>
                <td rowspan="6"> Customize Letter-heading</td>
                <td>letter heading position</td>
                <td><select  name="ld_position" value="{{class_setting["ld_position"]}}">
                        <option  {%if class_setting["ld_position"]=="center"%} selected="selected" {%endif%}> center</option>
                        <option  {%if class_setting["ld_position"]=="left"%} selected="selected" {%endif%} >left</option>
                        <option  {%if class_setting["ld_position"]=="right"%} selected="selected"{%endif%}>right</option>
                        <option  {%if class_setting["ld_position"]=="justified"%} selected="selected"{%endif%}>justified</option>
                        </select>
                        <div class="arrow"></div>
                </td>
        </tr>

        <tr>
            <td>
                letter heading font
            </td>
            <td>
                <select  name="l_font" >
                        <option selected="selected" disabled="">{{class_setting["l_font"]}}</option>
                        <option>Arial</option> 
                        <option>Arial Black</option>
                        <option>Arial Narrow</option>
                        <option>Arial Rounded MT Bold</option>
                        <option>Avant Garde</option>
                       <option> Calibri</option>
                        <option>Candara</option>
                        <option>Century Gothic</option>
                        <option>Franklin Gothic Medium</option>
                        <option>Futura</option>
                        <option>Geneva</option>
                        <option>Gill Sans</option>
                        <option>Helvetica</option>
                        <option>Impact</option>
                        <option>Lucida Grande</option>
                        <option>Optima</option>
                        <option>Segoe UI</option>
                        <option>Tahoma</option>
                        <option>Trebuchet MS</option>
                        <option>Verdana</option>
                        <option>Big Caslon</option>
                        <option>Bodoni MT</option>
                        <option>Book Antiqua</option>
                        <option>Calisto MT</option>
                        <option>Cambria</option>
                        <option>Didot</option>
                        <option>Garamond</option>
                        <option>Georgia</option>
                        <option>Goudy Old Style</option>
                        <option>Hoefler Text</option>
                        <option>Lucida Bright</option>
                        <option>Palatino</option>
                        <option>Perpetua</option>
                        <option>Rockwell</option>
                        <option>Rockwell Extra Bold</option>
                        <option>Baskerville</option>
                        <option>Times New Roman</option>
                        <option>Consolas</option>
                        <option>Courier New</option>
                        <option>Lucida Console</option>
                        <option>Lucida Sans Typewriter</option>
                        <option>Monaco</option>
                        <option>Andale Mono</option>
                        <option>Fantasy</option>
                        <option>Copperplate</option>
                        <option>Papyrus</option>
                        <option>Brush Script MT</option>
                        
            </td>
        </tr>
        <tr>
            <td>
                letter heading font weight
            </td>
            <td>
                    <select name="l_weight"  value="{{class_setting["l_weight"]}} aria-required="true">
                        <option selected="selected" disabled="">{{class_setting["l_weight"]}}</option>
                        <option>Bold</option> 
                        <option>normal</option>
                        <option>bolder</option>
                        <option>lighter</option>
                        <option>100</option>
                       <option>200</option>
                       <option>400</option>
                       <option>600</option>
                       <option>700</option>
                       <option>800</option>
                       <option>900</option>


                            </select>
                            <div class="arrow"></div>
            </td>
        </tr>

        <tr>
            <td>
                letter heading color
            </td>
            <td>
                <input type="color"   name="l_color" value="{{class_setting["l_color"]}}">
            </td>
        </tr>
        <tr>
                <td>
                    add text shadow to header
                </td>
                <td>
                    {%if class_setting["shadow"]== 'on'%}
                    <input type="checkbox" name="shadow" id="shadow"  checked>
                    {%else%}
                    <input type="checkbox" name="shadow"   id="shadow">
                    {%endif%}
                </td>
            </tr>
    
        <tr>
            <td>
                letter heading font-size
            </td>
                    <td>
                            <select name="l_font-size"   aria-required="true">
                                    <option  value="" selected="" disabled="">{{class_setting["l_fontsize"]}}</option>
                                      {%for i in range(100)%}
                                            <option  value="{{i+1}}px">{{i+1}}px</option>
                                       {%endfor%}
                                    </select>
                                    <div class="arrow"></div>
                    </td>
        
        </tr>
        <tr>
            <td rowspan="11">school detail and other information</td>
            <td>
                school details font
            </td>
            <td>
                <select  name="sd_font" >
                        <option selected="selected" disabled="">{{class_setting["sd_font"]}}</option>
                        <option>Arial</option> 
                        <option>Arial Black</option>
                        <option>Arial Narrow</option>
                        <option>Arial Rounded MT Bold</option>
                        <option>Avant Garde</option>
                       <option> Calibri</option>
                        <option>Candara</option>
                        <option>Century Gothic</option>
                        <option>Franklin Gothic Medium</option>
                        <option>Futura</option>
                        <option>Geneva</option>
                        <option>Gill Sans</option>
                        <option>Helvetica</option>
                        <option>Impact</option>
                        <option>Lucida Grande</option>
                        <option>Optima</option>
                        <option>Segoe UI</option>
                        <option>Tahoma</option>
                        <option>Trebuchet MS</option>
                        <option>Verdana</option>
                        <option>Big Caslon</option>
                        <option>Bodoni MT</option>
                        <option>Book Antiqua</option>
                        <option>Calisto MT</option>
                        <option>Cambria</option>
                        <option>Didot</option>
                        <option>Garamond</option>
                        <option>Georgia</option>
                        <option>Goudy Old Style</option>
                        <option>Hoefler Text</option>
                        <option>Lucida Bright</option>
                        <option>Palatino</option>
                        <option>Perpetua</option>
                        <option>Rockwell</option>
                        <option>Rockwell Extra Bold</option>
                        <option>Baskerville</option>
                        <option>Times New Roman</option>
                        <option>Consolas</option>
                        <option>Courier New</option>
                        <option>Lucida Console</option>
                        <option>Lucida Sans Typewriter</option>
                        <option>Monaco</option>
                        <option>Andale Mono</option>
                        <option>Fantasy</option>
                        <option>Copperplate</option>
                        <option>Papyrus</option>
                        <option>Brush Script MT</option>
            </td>
        </tr>
        <tr>
            <td>
                school details color
            </td>
            <td>
                <input type="color"   name="sd_color" value="{{class_setting["sd_color"]}}">
            </td>
        </tr>
        <tr>
            <td>
                school details font-size
            </td>
            <td>
                    <select name="sd_fontsize"   aria-required="true">
                            <option   selected="" disabled="">{{class_setting["sd_fontsize"]}}</option>
                              {%for i in range(100)%}
                                    <option  value="{{i+1}}px">{{i+1}}px</option>
                               {%endfor%}
                            </select>
                            <div class="arrow"></div>
            </td>
</tr>

        <tr>
            <td>school details position</td>
            <td><select aria-required="true" name="sd_position">
                    <option selected="selected" disabled="">{{class_setting["sd_position"]}}</option>
                    <option>center</option>
                    <option>left</option>
                    <option>right</option>
                    </select>
                    <div class="arrow"></div>
            </td>
    </tr>
    <tr>
        <td>
            add school email
        </td>
        <td>
            <input type="text"  name="sd_email" value="{{class_setting["sd_email"]}}">
        </td>
    </tr>
    <tr>
        <td>
            use admin email
        </td>
        <td>
            {%if class_setting["admin_email"]== 'on'%}
            <input type="checkbox" name="admin_email"   checked>
            {%else%}
            <input type="checkbox" name="admin_email">
            {%endif%}
        </td>
</tr>
    <tr>
        <td>
            add address
        </td>
        <td>
            <input type="text"  name="address" value="{{class_setting["address"]}}">
        </td>
    </tr>
    <tr>
        <td>
            add P.O BOX
        </td>
        <td>
            <input type="text"  name="po_box" value="{{class_setting["po_box"]}}">
        </td>
    </tr>
    <tr>
        <td>
            add phone numbers
        </td>
        <td>
            <input type="text"  name="phone" value="{{class_setting["phone"]}}">
        </td>
    </tr>
    <tr>
        <td>
            next term
        </td>
        <td>
            <input type="date"  name="next_term" value="{{class_setting["next_term"]}}">
        </td>
    </tr>

    <tr>
        <td>
            other information
        </td>
        <td>
            <input type="text" " name="sd_other" value="{{class_setting["sd_other"]}}">
        </td>
    </tr>

    <tr>
        <td rowspan="4">student details</td>
        <td>
            student details font
        </td>
        <td>
        <select  name="std_font" >
            <option selected="selected" disabled="">{{class_setting["std_font"]}}</option>
            <option>Arial</option> 
            <option>Arial Black</option>
            <option>Arial Narrow</option>
            <option>Arial Rounded MT Bold</option>
            <option>Avant Garde</option>
           <option> Calibri</option>
            <option>Candara</option>
            <option>Century Gothic</option>
            <option>Franklin Gothic Medium</option>
            <option>Futura</option>
            <option>Geneva</option>
            <option>Gill Sans</option>
            <option>Helvetica</option>
            <option>Impact</option>
            <option>Lucida Grande</option>
            <option>Optima</option>
            <option>Segoe UI</option>
            <option>Tahoma</option>
            <option>Trebuchet MS</option>
            <option>Verdana</option>
            <option>Big Caslon</option>
            <option>Bodoni MT</option>
            <option>Book Antiqua</option>
            <option>Calisto MT</option>
            <option>Cambria</option>
            <option>Didot</option>
            <option>Garamond</option>
            <option>Georgia</option>
            <option>Goudy Old Style</option>
            <option>Hoefler Text</option>
            <option>Lucida Bright</option>
            <option>Palatino</option>
            <option>Perpetua</option>
            <option>Rockwell</option>
            <option>Rockwell Extra Bold</option>
            <option>Baskerville</option>
            <option>Times New Roman</option>
            <option>Consolas</option>
            <option>Courier New</option>
            <option>Lucida Console</option>
            <option>Lucida Sans Typewriter</option>
            <option>Monaco</option>
            <option>Andale Mono</option>
            <option>Fantasy</option>
            <option>Copperplate</option>
            <option>Papyrus</option>
            <option>Brush Script MT</option>
</td>

    </tr>
    <tr>
        <td>
            student details color
        </td>
        <td>
            <input type="color"   name="std_color" value="{{class_setting["std_color"]}}">
        </td>
    </tr>
    <tr>
        <td>
            student details font-size
        </td>
        <td>
            <select name="std_fontsize"   aria-required="true">
                    <option   selected="" disabled="">{{class_setting["std_fontsize"]}}</option>
                      {%for i in range(100)%}
                            <option  value="{{i+1}}px">{{i+1}}px</option>
                       {%endfor%}
                    </select>
                    <div class="arrow"></div>
    </td>

    </tr>

    <tr>
        <td>student details position</td>
        <td><select aria-required="true" name="std_position">
            <option selected="selected" disabled="">{{class_setting["std_position"]}}</option>
            <option>center</option>
            <option>left</option>
            <option>right</option>
            </select>
            <div class="arrow"></div>
    </td>

</tr>
<tr>
    <td rowspan="11">Result Table</td>
    <td>table type</td>
    <td>
        <select  name="table_type" >
            <option selected="selected" disabled="">{{class_setting["table_type"]}}</option>
            <option>normal</option> 
            <option>dark</option>
            <option>striped</option>
            <option>bordered</option>
            <option>borderless</option>
           <option> hover</option>
            <option>sm</option>
            <option>responsive</option>
</td>

</tr>

        <tr>
            <td>
                cascore
            </td>
            <td>
                {%if class_setting["ca"]== 'on'%}
                <input type="checkbox" name="ca" id="ca" value="on" checked>
                {%else%}
                <input type="checkbox" name="ca" id="ca">
                {%endif%}
            </td>
        </tr>
        <tr>
            <td>testscore</td>
            {%if class_setting["test"]== 'on'%}

            <td><input type="checkbox" name="test" id="test" value="on" checked></td>
            {%else%}
            <td><input type="checkbox" name="test" id="test"></td>
            {%endif%}

        </tr>
        <tr>
            <td>
                combined test and ca as total ca
            </td>
            <td>
                {%if class_setting["combined"]== 'on'%}

                <input type="checkbox" name="combined" id="subject_comment" value="on" checked >
                {%else%}

                <input type="checkbox" name="combined" id="subject_comment">
                {%endif%}

            </td>
        </tr>

        <tr>
            <td>examscore</td>
            {%if class_setting["exam"]== 'on'%}
            <td><input type="checkbox" name="exam" id="exam"  checked></td>
            {%else%}
            <td><input type="checkbox" name="exam" id="exam"></td>
            {%endif%}

        </tr>
        <tr>
            <td>subject_total</td>
            {%if class_setting["subject_total"]== 'on'%}

            <td><input type="checkbox" name="subject_total" id="subject_total" checked></td>
            {%else%}

            <td><input type="checkbox" name="subject_total" id="subject_total"></td>
            {%endif%}

        </tr>

        <tr>
            <td>class average for each subject</td>
            {%if class_setting["class_average"]== 'on'%}
            <td><input type="checkbox" name="class_average"  checked></td>
            {%else%}
            <td><input type="checkbox" name="class_average"></td>
            {%endif%}

        </tr>
        <tr>
            <td>subject position</td>
            {%if class_setting["subject_position"]== 'on' %}
            <td><input type="checkbox" name="subject_position"  checked></td>
            {%else%}
            <td><input type="checkbox" name="subject_position"></td>
            {%endif%}

        </tr>
        <tr>
            <td>grade</td>
            {%if class_setting["grade"]== 'on' %}
            <td><input type="checkbox" name="grade"  checked ></td>
            {%else%}
            <td><input type="checkbox" name="grade"></td>
            {%endif%}

        </tr>
        <tr>
            <td>subject comment</td>
            {%if class_setting["subject_comment"]== 'on' %}
            <td><input type="checkbox" name="subject_comment"  checked></td>
            {%else%}
            <td><input type="checkbox" name="subject_comment"></td>
            {%endif%}

        </tr>

        <tr>
            <td>teachers initials</td>
            {%if class_setting["teachers_initials"]== 'on' %}
            <td><input type="checkbox" name="teachers_initials" id=""  checked></td>
            {%else%}
            <td><input type="checkbox" name="teachers_initials" id=""></td>
            {%endif%}

        </tr>
        <tr>
            <td rowspan="11">Result summary</td>
                <td>total score</td>
                {%if class_setting["total_score"]== 'on' %}
                <td><input type="checkbox" name="total_score" id=""  checked></td>
                {%else%}
                <td><input type="checkbox" name="total_score" id=""></td>
                {%endif%}

            </tr>
        <tr>
            <td>average score</td>
            {%if class_setting["average"]== 'on' %}
            <td><input type="checkbox" name="average_score" id=""  checked></td>
            {%else%}
            <td><input type="checkbox" name="average_score" id=""></td>
            {%endif%}

        </tr>
        <tr>
            <td>position</td>
            {%if class_setting["position"] == 'on' %}
            <td><input type="checkbox" name="position" id=""  checked ></td>
            {%else%}
            <td><input type="checkbox" name="position" id=""></td>
            {%endif%}

        </tr>

        <tr>
            <td>watermark</td>
            {%if class_setting["watermark"]== 'on' %}
            <td><input type="checkbox" name="watermark" id=""  checked></td>
            {%else%}
            <td><input type="checkbox" name="watermark" id=""></td>
            {%endif%}

        </tr>
        <tr>
            
            <td>number of comment line for teacher</td>
            <td>
                <select name="teachers_line"   aria-required="true">
                        <option   selected="">{{class_setting["teachers_line"]}}</option>
                          {%for i in range(5)%}
                                <option  value="{{i}}">{{i}}</option>
                           {%endfor%}
                        </select>
                        <div class="arrow"></div>
        </td>
        </tr>

        <tr>
            <td>number of comment line for principal</td>
            <td>
                <select name="principal_line"   aria-required="true">
                        <option   selected="" >{{class_setting["principal_line"]}}</option>
                          {%for i in range(5)%}
                                <option  value="{{i}}">{{i}}</option>
                           {%endfor%}
                        </select>
                        <div class="arrow"></div>
        </td>

        </tr>
        <tr>
            <td>teachers signature</td>
            {%if class_setting["teachers_signature"]== 'on'%}
            <td><input type="checkbox" name="teachers_signature" id=""  checked></td>
            {%else%}
            <td><input type="checkbox" name="teachers_signature" id="" ></td>
            {%endif%}

        </tr>
               
        <tr>
                <td>principal signature</td>
                {%if class_setting["principal_signature"]== 'on'%}
                <td><input type="checkbox" name="principal_signature" id="" value="{{class_setting["principal_signature"]}}" checked></td>
                {%else%}
                <td><input type="checkbox" name="principal_signature" id="" ></td>
                {%endif%}

        </tr>
        <tr>
            <td>number of subjects passed and those failed</td>
            {%if class_setting["pandf"]== 'on'%}
            <td><input type="checkbox" name="pandf" id="" value="{{class_setting["pandf"]}}" checked></td>
            {%else%}
            <td><input type="checkbox" name="pandf" id=""></td>
            {%endif%}

    </tr>
    <tr>
        <td>grade summary</td>
        {%if class_setting["grade_summary"]== 'on'%}
        <td><input type="checkbox" name="grade_summary" id="" value="{{class_setting["grade_summary"]}}" checked></td>
        {%else%}
        <td><input type="checkbox" name="grade_summary" id=""  ></td>
        {%endif%}

</tr>
    </tbody>
</table>
<div class="row">
<div class="form-w3ls col">
        <button class="sign-in"  type="submit">Submit</button></div>
</form>
<div class="form-w3ls col">
  <form>  <button class="sign-in"  type="submit">Back</button></form>
</div>
</form>

</div>
{% endblock %}
