{% extends "layout.html" %}

{% block title %}
edit student details
{% endblock %}

{% block main %}
  <div class="form-w3ls">

<form action="/edited_class" method="post" id="edit_class_form">
  <input type="hidden" name="id" value={{classData[0]["id"]}} >
    <input type="hidden" name="formerly" value={{classData[0]["classname"]}} >

  <hr>
      <h4 class="blue"> CHANGE CLASS TEACHER </h4>

  <div class="row">
      <div class="col">

          <input type="text"  name="firstname" value={{classData[0]["firstname"]}}>
          <div class="red" id="firstname_msg"></div>
         </div>
     
<div class="col">
     <input type="text"  name = "surname" value="{{classData[0]["surname"]}}">
     <div class="red" id="surname_msg"></div>
    </div>
    </div>
    <hr>
    <h4 class="blue">CLASSNAME AND SECTION</h4>
    <input type="hidden"  value="{{classData[0]["classname"]}}" name="old_name">

    <div class="row">
          <div class="col">
              <input type="text"  value="{{classData[0]["classname"]}}" name="class_name">
              <div class="red" id="class_msg"></div>        
          </div>
          <div class="col"> 
              <td><select name="section"  id="section"  aria-required="true">
                <option   selected="" value="{{classData[0]["section"]}}">{{classData[0]["section"]}}</option>
                <option  value="pre-nursery">pre-nursery</option>
                <option  value="nursery">nursery</option>
                <option  value="primary">primary</option>
                <option  value="secondary">secondary</option>
                </select>
                <div class="arrow"></div>
                <div class="red" id="section_msg"></div>        
          </div>
        </div>
        <hr>

      <h4 class="blue"> CHANGE CLASS PASSWORD</h4>


      <input type="password"  value="{{classData[0]["password"]}}" name="password">
      <div class="red" id="pass_msg"></div>


<div class="row">
  <div class="col"><button id="edit_class_button" class="sign-in" type="submit" >Submit</button></form></div>
<div class="col"><form action="/delete_class" method="post" id="delete_form"><input type="hidden"name="delete_class" value={{classData[0]["id"]}}><button id="delete" class="delete sign-in" type="submit">DELETE</button></form></div>
<div class="col"><form method="POST" action="/cancel_portfolio"><button class="sign-in" id="cancel_button" type="submit" >cancel</button></form></div>
</div>
</div>

 <!-- js files -->
 <script src='/static/js/jquery.min.js'></script>
 <script src="/static/js/edit_class.js"></script>
<!-- /js files -->


{% endblock %}