{% extends "layout.html" %}
{% block title %}
    upload scoresheet
{% endblock %}

{% block main %}

<h4 class="blue">CLASS: {{classData[0]["classname"].upper()}}</h4> 
<h4 class="blue">SECTION: {{classData[0]["section"].upper()}} </h4>
<h4 class="blue">SESSION: {{schoolInfo[0]["current_session"].upper()}} TERM: {{schoolInfo[0]["current_term"].upper()}}</h4>
<div class="form-w3ls">
  <form action="/edited_scoresheet" method="post" id="edited_scoresheet_form">
  <table class="table table-striped">
    <thead>
        <th>Subject</th>
        <th>Teachers name</th>
      </thead>
      <tbody>
        <tr>
          <td><div><input type="text" value="{{subjectData[0]["name"]}}" name ="subject_name" id="subject_name"/><div class="red" id="subject_msg"></div></div></td>
          <td><div><input type="text" value="{{subjectData[0]["teachers_name"]}}" name ="teachers_name" id="teachers_name"/><div class="red" id="teachers_msg"></div></div></td>
        </tr>
      </tbody>
      
  </table>
</div>

 <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">NAME</th>
      <th scope="col">CA </th>
       <th scope="col">TEST </th>
         <th scope="col">EXAM </th>
    </tr>
  </thead>
  <tbody>
{% for student in class_list %}
  <div class="form-row">
        {% set id = student["id"]|string %}
        {% set ca_id = caData[loop.index-1][subjectData[0]["id"]|string] |string %}
        {% set test_id = testData[loop.index-1][subjectData[0]["id"]|string] |string %}
        {% set exam_id = examData[loop.index-1][subjectData[0]["id"]|string] |string %}


        <div class="col">   <tr><td>{{student["surname"]}} {{student["firstname"]}} {{student["othername"]}}</td></div>
          <div class="col">
            {% set cascore = "cascore"+ id %}
                       <td><select name="{{cascore}}" id="ca"  aria-required="true">
                       <option  value="{{ca_id}}" selected="">{{ca_id}}</option>
                       <option  value="0" >0</option>
                         {%for i in range(classData[0]["ca"])%}
                         
                               <option  value="{{i+1}}">{{i+1}}</option>
                          {%endfor%}
                       </select>
                       <div class="arrow"></div></td>
            </div>  
            <div class="col">
              {% set testscore = "testscore"+ id %}
                         <td><select name="{{testscore}}" id="test"  aria-required="true">
                         <option  value="{{test_id}}" selected="">{{test_id}}</option>
                         <option  value="0" >0</option>
                           {%for i in range(classData[0]["test"])%}
                                 <option  value="{{i+1}}">{{i+1}}</option>
                            {%endfor%}
                         </select>
                         <div class="arrow"></div></td>
             </div>
      
        <div class="col">
        <div class="col">
          {% set examscore = "examscore"+ id %}
                     <td><select name="{{examscore}}" id="exam" class="mdb-select md-form"  aria-required="true">
                     <option  value="{{exam_id}}" selected="">{{exam_id}}</option>
                     <option  value="0">0</option>
                       {%for i in range(classData[0]["exam"])%}
                             <option  value="{{i+1}}">{{i+1}}</option>
                        {%endfor%}
                     </select>
                     <div class="arrow"></div></td>
         </div>

  </div>
{% endfor %}
</table>
<input type="hidden"   value="{{subjectData[0]["id"]}}" name ="subject_id"/>
<input type="hidden"   value="{{subjectData[0]["name"]}}" name ="previous" id="previous"/>
<input type="hidden"   value="{{classData[0]["id"]}}" name ="class_id" id="class_id"/>

<div class= "row">
  <div class="col">

<button class="sign-in"  type="submit" id="edited_scoresheet_button">Submit</button>
 </form>
 <form action="/delete_scoresheet" id="delete_scoresheet_form" method="post">
  </div>
  <div class="col">
      <input type="hidden"   value="{{subjectData[0]["id"]}}" name ="subject_id"/>
      <input type="hidden"   value="{{classData[0]["id"]}}" name ="class_id"/>

 <button class="sign-in delete"  type="submit" id="delete_scoresheet_button">Delete</button>
 </form>
</div>
<div class="col">
  <form action="/cancel" method="post">
    <input type="hidden"   value="{{classData[0]["id"]}}" name ="class_id"/>
    <button class="sign-in" id="cancel"  type="submit">cancel</button>
  </form>
</div>
</div>
    <!-- js files -->
    <script src='/static/js/jquery.min.js'></script>
    <script src="/static/js/veiwclass.js"></script>
    <!-- /js files -->
{% endblock %}
