{% extends "layout.html" %}

{% block title %}
    upload scoresheet
{% endblock %}

{% block main %}
<form action="/confirm_scoresheet" method="post">
 <table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">NAME</th>
      <th scope="col">CA </th>
       <th scope="col">TEST </th>
         <th scope="col">EXAM </th>
    </tr>
  </thead>
  <tbody>
{% for student in class_names %}
  <div class="form-row">
        {% set id = student["id"]|string %}
        <div class="col">   <tr><td>{{student["surname"]}} {{student["firstname"]}}</td></div>
        <div class="col">
         {% set cascore = "cascore"+ id %}
                    <td><select name="{{cascore}}" id="ca"  aria-required="true">
                    <option  value="" selected="" disabled="">ca score</option>
                    <option  value="0" >0</option>
                      {%for i in range(setting[0]["ca"])%}
                            <option  value="{{i+1}}">{{i+1}}</option>
                       {%endfor%}
                    </select>
                    <div class="arrow"></div></td>
         </div>

        <div class="col">
         {% set testscore = "testscore"+ id %}
                    <td><select name="{{testscore}}" id="test"  aria-required="true">
                    <option  value="" selected="" disabled="">test score</option>
                    <option  value="0" >0</option>
                      {%for i in range(setting[0]["test"])%}
                            <option  value="{{i+1}}">{{i+1}}</option>
                       {%endfor%}
                    </select>
                    <div class="arrow"></div></td>
        </div>
        <div class="col">
         {% set examscore = "examscore"+ id %}
                    <td><select name="{{examscore}}" id="exam"  aria-required="true">
                    <option  value="" selected="" disabled="">exam score</option>
                    <option  value="0" >0</option>
                      {%for i in range(setting[0]["exam"])%}
                            <option  value="{{i+1}}">{{i+1}}</option>
                       {%endfor%}
                    </select>
                    <div class="arrow"></div></td>
        </div>
  </div>
{% endfor %}
</table>
  <div class="form-w3ls">

 <button class="sign-in" name="button" value="{{classinfo["id"]}}" type="submit">Submit</button></div>
 </form>
{% endblock %}
