{% extends "layout.html" %}

{% block title %}
    how to use schoolresult
{% endblock %}

{% block main %}
        <h4>HOW TO USE SCHOOLRESULT? </h4>
        <p>first you need to <a href="/register">register your school</a></p>
        <p>Confirm your email address by clicking the link sent and take note of the general password</p>
        <p>Share the general password and the username  to the teachers</p>
        <p>With the general password and the username, they can login and create their classes</p>
        <p>Once a class is created, a notification will be sent to your email and subject teachers can then go to submit their scores for the class or classes</p>
        <p>The result is generated and updated for all students in class once the subject is updated or uploaded</p>
{% endblock %}
