{% extends "layout.html" %}

{% block title %}
{% endblock %}

{% block main %}
<div  class="row main_pages">
	<div class="col blue"><h2>Welcome to Classroom Results!</h2>
		<p><h4>New here? <a href="/register">Register</a> for free</h4><p>
		<p><h4>Already signed up? then Log-in  to make awesome looking results</h4><p>
		<p><h4>you can also check result from here</h4><p>
	</div>
	<div class="col form-w3ls">
			<div id="tab-group" class="tab-group cl-effect-4 row">
				<div class="tab active col"><a href="#signin-agile"><b>Log-in</b></a></div>
				<div class="tab col"><a href="#space"><b>Result</b></a></div>
				<div class="tab col"><a href="#signup-agile"><b>Register</a></b></div>
			</div>
			 <div class="tab-content" id="login-tab-content">
				<div id="signin-agile">
					 <form  action = "/login" method="post" id="login_form">
						 <input type="text" name="username" placeholder="User Name" required="required"/>
						 <div class="red" id="signin_message"></div>
						 <input type="password" name="password" placeholder="password" required="required"/>
						 <div class="red" id="password_message"></div>
						 <div class="psw">Forgot <a href="/change_password">password?</a></div>
						 <div><input name="remember_me" type="checkbox" id="brand" value="checked">Remember me</div>
						 <button type="submit" id="login" class="sign-in" value="Sign In">sign in</button>
					 </form>

				</div>
				 <div  id="space">
						<form  action="check_results" method="post" id="check_results"target="_blank">
						<input type="number" name="regnumber"  placeholder="exam number">
						<div class="red" id="reg_message"></div>
						<input type="number" name="pin" placeholder="pin">
						<div class="red" id=pin_message></div>
						<button type="submit" id ="check_result" class="sign-in" > check result</button>
						 </form>
				</div>
				  <div id="signup-agile">
						<form id="register" action="/register" method="post">
								 <h4 class="blue"> REGISTER FOR FREE!</h4>
							<hr>
							 <h4 class="message"><b>School information</b></h4>
						   <input  name="school_name" placeholder="school name" type="text" required="required">
						   <div class="red" id="schoolname_message"></div>

							<input  name="email" placeholder="email" type="email" required="required"/>
							<div class="red" id="email_message"></div>

							<div class="row">

								<div  class="col">
									<select name="term" id="term"  aria-required="true">
									<option  value="" selected="" disabled="">term</option>
											<option  value="1">first</option>
											<option  value="2">second</option>
											<option  value="3">third</option>
									</select>
									<div class="arrow"></div>
									<div class="red" id="term_message"></div>
								</div>

								<div  class="col">
									<select name="school_session" id="school_session"  aria-required="true" >
									<option  value="">session</option>
											<option  value="2018/2019">2018/2019</option>
											<option  value="2019/2020">2019/2020</option>
											<option  value="2020/2021">2020/2021</option>
									</select>
									<div class="arrow"></div>
									<div class="red" id="session_message"></div>
								</div>
							</div>

							<hr>
							<h3 class="message">login details</h3>
							<input  name="username" placeholder="Username" type="text"/>
							<div class="red" id="username_message"></div>

							<input placeholder="password" type="password" id="psw" name="password" pattern=".{8,}" title="Must contain at least 8 or more characters" required="required">
							<div class="red" id="password_message"></div>
							<div>
							  <p id="length2" class="invalid">Minimum <b>8 characters</b></p>
							</div>
							<input  name="confirmation" placeholder=" confirm Password" type="password" required="required"/>
							<div class="red" id="confirmation_message"></div>

							<p>By clicking Register, you agree to the <a href="/terms" target="_blank">Terms of Service</a> and you acknowledge that classresult and each Member process your school's and personal data in accordance with the <a href="/privacy" target="_blank">Privacy Policy</a>.</p>

							<button type="submit" class="sign-in" id="submit_registration" value="Register">Register</button>
							</div>
					</form>
				 </div>
			 </div><!-- tab-content -->

		 </div> <!-- /form -->	
</div>
<!-- js files -->
	<script src='/static/js/jquery.min.js'></script>
	<script src="/static/js/index.js"></script>
	<script src="/static/js/register.js"></script>
<!-- /js files -->
{% endblock %}
