
<html>
    <head>
        <style>
            body{
	background-color: #f2f3f3;
}

                    .form-w3ls {
            background:#ffffff;
            text-align: center;
            padding-bottom: 20px;
            width:100%;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        </style>
    </head>
<body>
<div class="form-w3ls">
<p>{{subject["subject"]}} scoresheet was submitted by {{subject["subject_teacher"]}} for {{class_info["classname"]}}</p>
</div>
</body>
</html>