{% extends "layout.html" %}
{% block title %}
verify admin
{% endblock %}
{% block main %}
<div class="single_form">
<div class="form-w3ls">
<form action="/admin_verified" id="password_form" target="_blank" method="post">            
<input type="password" name="password" placeholder="admin password"/>
<div id="admin_msg" class="red"></div>
<div class="row">
<div class="col"><button class="sign-in" id="password_button">VERIFY</button></div>
</form>
<div class="col"><form action="/cancel_portfolio" method="POST"><button class="sign-in" id="password_button">CANCEL</button></div>
</div>
</div>
 <!-- js files -->
 <script src='/static/js/jquery.min.js'></script>
 <script src="/static/js/veiwclass.js"></script>
<!-- /js files -->
{% endblock %}
