
{% extends "layout.html" %}
{% block title %}
{{schoolInfo[0]["school_name"].upper()}}
{% endblock %}

{% block main %}
    {% if clas | length < 1 %}
<div class="row main_pages">
    <div class="col welcome_message">
      <h2 class="blue">How to use Schoolresult? </h2>
      <p>Share the general password and the username  to the teachers</p>
      <p>With the general password and the username, they can login and create their classes</p>
      <p>Once a class is created, a notification will be sent to your email and subject teachers can then go to submit their scores for the class or classes</p>
      <p>The result is generated and updated for all students in class once the subject is updated or uploaded</p>
  </div>
    <div class="col form-w3ls">
      <form id="create_form" action="/createClass" method="post">
        <div class="row">
        <div class="col">
            <input  id="class_name"  name="class_name" placeholder="class name" type="text" required="required"/>
            <div class="red" id="message_class"></div>
        </div>
      <div class="col">
        <select name="section" id="section"  aria-required="true">
        <option  value="" selected="" disabled="">section</option>
                <option  value="pre-nursery">pre-nursery</option>
                <option  value="nursery">nursery</option>
                <option  value="primary">primary</option>
                <option  value="secondary">secondary</option>
        </select>
        <div class="arrow"></div>                    
        <div class="red" id="section_message"></div>
      </div>
      </div>
          <div class="row">
          <div class="col"> <input   name="ca" placeholder="ca is over?" id="ca" type="number" required="required"/> 
           <div class="red" id="ca_message"></div>
         </div>
          <div class="col"><input   name="test" placeholder="test over?" id="test" type="number" required="required"/> <div class="red" id="test_message"></div>
         </div> 
          <div class="col"><input  name="exam" placeholder="exam over?" id="exam" type="number" required="required"/><div class="red" id="exam_message"></div>
         </div> 
           </div>
            <div><input  id="no_of_students"  name="no_of_students" placeholder="The number of students in class" type="number" required="required"/>
            <div class="red" id="students_message"></div></div>
          <div class="row">
              <div class="col"> <input class="col"  name="firstname" placeholder=" firstname" type="text" required="required"/>                   <div class="red" id="firstname_message"></div>
             </div>
                <div class="col"><input  class ="col" name="surname" placeholder="surname" type="text" required="required"/><div class="red" id="surname_message"></div>
               </div>
             </div>
             <div><input  id="password"  name="password" placeholder="choose Password for class" type="password" required="required"/>
              <div class="red" id="pass_message"></div></div>
        
             <div><input  id="confirmation"  name="confirmation" placeholder="confirm password" type="password" required="required"/>
              <div class="red" id="confirm_message"></div></div>         
           <button  id="create_button" class="sign-in" type="submit" value="create" >create</button>
    </div>
  </div>
    {%else%}
<div class="row main_pages">
    <div class="form-w3ls col">

        <div id="tab-group" class="tab-group cl-effect-4 row">
          <div class="tab active col"><a href="#scoresheet_form"><b>Scoresheet</b></a></div>
           <div class="tab col"><a href="#add_class"><b>Add class</b></a></div>
        </div>
         <div class="tab-content">
           <div id="scoresheet_form">
             <form action="/submit_score" id="submit_score" method="post">
                     <input name="subject_name" placeholder="FULL NAME OF SUBJECT" type="text" required/>
                      <div id="subject_message" class="red"></div>
         <div  class="pure-u-1-2 reg-month puree-dropdown dropdown">
                     <select name="the_class" id="your_class"  aria-required="true" required>
                     <option value="" selected="" disabled="">select&nbsp;Class</option>
                     {% for class in clas %}
                             <option  value="{{class["id"]}}">{{class["classname"]}}</option>
                     {% endfor %}
                     </select>
                     <div class="arrow"></div>
                 </div>
                 <div id="class_message" class="red"></div>

                     <input autocomplete="off"   name="subject_teacher" placeholder="subject teachers firstname surname" type="text" required/>
                     <div id="teacher_message" class="red"></div>

            <button name = "submit_scoresheet"id="submit_scoresheet" class="sign-in" type="submit">SUBMIT</button>
             </form>
           </div>
  
           <div id="add_class">
             <form id="create_form" action="/createClass" method="post">
                 <div class="row">
                 <div class="col">
                     <input  id="class_name"  name="class_name" placeholder="class name" type="text" required="required"/>
                     <div class="red" id="message_class"></div>
                 </div>
             <div class="col">
                 <select name="section" id="section"  aria-required="true">
                 <option  value="" selected="" disabled="">section</option>
                         <option  value="pre-nursery">pre-nursery</option>
                         <option  value="nursery">nursery</option>
                         <option  value="primary">primary</option>
                         <option  value="secondary">secondary</option>
                 </select>
                 <div class="arrow"></div>                    
                 <div class="red" id="section_message"></div>
              </div>
              </div>
                   <div class="row">
                   <div class="col"> <input   name="ca" placeholder="ca is over?" id="ca" type="number" required="required"/> 
                    <div class="red" id="ca_message"></div>
                  </div>
                   <div class="col"><input   name="test" placeholder="test over?" id="test" type="number" required="required"/> <div class="red" id="test_message"></div>
                  </div> 
                   <div class="col"><input  name="exam" placeholder="exam over?" id="exam" type="number" required="required"/><div class="red" id="exam_message"></div>
                  </div> 
                    </div>
                     <div><input  id="no_of_students"  name="no_of_students" placeholder="The number of students in class" type="number" required="required"/>
                     <div class="red" id="students_message"></div></div>
                  <div class="row">
                   <div class="col"> <input class="col"  name="firstname" placeholder=" firstname" type="text" required="required"/>                   <div class="red" id="firstname_message"></div>
                  </div>
                     <div class="col"><input  class ="col" name="surname" placeholder="surname" type="text" required="required"/><div class="red" id="surname_message"></div>
                    </div>
                  </div>
                     <div><input  id="password"  name="password" placeholder="choose Password for class" type="password" required="required"/>
                     <div class="red" id="pass_message"></div></div>

                    <div><input  id="confirmation"  name="confirmation" placeholder="confirm password" type="password" required="required"/>
                     <div class="red" id="confirm_message"></div></div> 
                     <button  id="create_button" class="sign-in" type="submit" value="create" >create</button>
             </form>
  
           </div>
         </div><!-- tab-content -->
       </div> <!-- /form -->
  
    <div  class="col">
        {%for data in clas%}
        <div class="form-w3ls class_form">
          <h5><b class="blue">CLASS: {{data["classname"].upper()}} </b></h5><hr>
          <p class="class_details blue">SECTION: {{data["section"].upper()}}
          <p class="class_details blue">CLASS TEACHER: {{data["firstname"].upper()}} {{data["surname"].upper()}}
      <form action="/veiwclass"  method="post">
        <div class="row">      
        <div class="col" name="edit_class">  <a  href="/edit_class?class_id={{data["id"]}}">edit details</a></div>

        <div class="col">  <button id="class_veiw" class="btn btn-primary" name = "veiw_class" value = "{{data["id"]}}" type="submit"> veiw class</button></div>
        </div>
      </form>
      </div>
          {% endfor %}
      </div>
</div>
{%endif%}
<!-- js files -->
	<script src='/static/js/jquery.min.js'></script>
  <script src="/static/js/portfolio.js"></script>
  <script src="/static/js/submit.js"></script>


<!-- /js files -->

{% endblock %}
