{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}

<div class="other_forms">

    <div class="form-w3ls">

        <form id="register" action="/register" method="post">
            <div class="register-form">
                 <h4 class="blue"> REGISTER FOR FREE!</h4>
            <hr>
             <h4 class="message"><b>School information</b></h4>
           <input  name="school_name" placeholder="school name" type="text" required="required">
           <div class="red" id="schoolname_message"></div>

            <input  name="email" placeholder="email" type="email" required="required"/>
            <div class="red" id="email_message"></div>

            <div class="row">

                <div  class="col">
                    <select name="term" id="term"  aria-required="true">
                    <option  value="" selected="" disabled="">term</option>
                            <option  value="1">first</option>
                            <option  value="2">second</option>
                            <option  value="3">third</option>
                    </select>
                    <div class="arrow"></div>
                    <div class="red" id="term_message"></div>
                </div>

                <div  class="col">
                    <select name="school_session" id="school_session"  aria-required="true" >
                    <option  value="">session</option>
                            <option  value="2018/2019">2018/2019</option>
                            <option  value="2019/2020">2019/2020</option>
                            <option  value="2020/2021">2020/2021</option>
                    </select>
                    <div class="arrow"></div>
                    <div class="red" id="session_message"></div>
                </div>
            </div>

            <hr>
            <h3 class="message">login details</h3>
            <input  name="username" placeholder="Username" type="text"/>
            <div class="red" id="username_message"></div>

            <input placeholder="password" type="password" id="psw" name="password" pattern=".{8,}" title="Must contain at least 8 or more characters" required="required">
            <div class="red" id="password_message"></div>
            <div>
              <p id="length2" class="invalid">Minimum of <b>8 characters</b></p>
            </div>
            <input  name="confirmation" placeholder=" confirm Password" type="password" required="required"/>
            <div class="red" id="confirmation_message"></div>

            <p>By clicking Register, you agree to the <a href="/terms" target="_blank">Terms of Service</a> and you acknowledge that classresult and each Member process your school's and personal data in accordance with the <a href="/privacy" target="_blank">Privacy Policy</a>.</p>

            <button type="submit" class="sign-in" id="submit_registration" value="Register">Register</button>
            </div>
    </form>    </div>
    </div>
<!-- js files -->
	<script src='/static/js/jquery.min.js'></script>
	<script src="/static/js/register.js"></script>
<!-- /js files -->


{% endblock %}
