
{% extends "layout.html" %}

{% block title %}
    Submit scores
{% endblock %}

{% block main %}
    <div class="form-w3ls">

    <form action="/submit_score" id="submit_score" method="post">
            <input name="subject_name" placeholder="FULL NAME OF SUBJECT" type="text" required/>

<div  class="pure-u-1-2 reg-month puree-dropdown dropdown">
            <select name="the_class" id="your_class"  aria-required="true" required>
            <option value="" selected="" disabled="">select&nbsp;Class</option>
            {% for class in classes %}
                    <option  value="{{class["id"]}}">{{class["classname"]}}</option>
            {% endfor %}
            </select>
            <div class="arrow"></div>
        </div>
            <input autocomplete="off"   name="subject_teacher" placeholder="subject_teacher" type="text" required/>
        <button name = "submit_scoresheet"id="submit_scoresheet" class="sign-in" type="submit">SUBMIT</button>
    </form>
    </div>
<!-- js files -->
	<script src='/static/js/jquery.min.js'></script>
	<script src="/static/js/submit.js"></script>
<!-- /js files -->

{% endblock %}
