
{% extends "layout.html" %}

{% block title %}
verify admin
{% endblock %}

{% block main %}

<div class="form-w3ls">
<form action="/admin_verification" id="password_form" method="post">            
<input type="password" name="password" placeholder="admin password" />
<div class="row">
<div class="col"><button class="sign-in" id="password_button">VERIFY </button></div>
</form>
<form action="/cancel_portfolio" method="POST"><div class="col"><button class="sign-in" id="password_button">CANCEL</button></div>
</form>
</div>
</div>
 <!-- js files -->
 <script src='/static/js/jquery.min.js'></script>
 <script src="/static/js/veiwclass.js"></script>
<!-- /js files -->

{% endblock %}
