{% extends "layout.html" %}

{% block title %}
change password
{% endblock %}

{% block main %}
    <div class="form-w3ls">

    <form id = "email_check" action="/change_password" method="post">
        <div class="form-group">
            <input id= "email_name" class="form-control" name="email" placeholder="email" type="email" required="required"/>
        </div>

        <button id="email_submit" class="sign-in" type="submit" value="create" >change password</button>
        
    </form>
    </div>
<!-- js files -->
	<script src="/static/js/email.js"></script>
<!-- /js files -->

{% endblock %}
